*{

    background-color: cornflowerblue;

}

body{

    background-color: cornflowerblue;
    
}


.red{

    background-color: red;
    height: 250px;
    opacity: 0.5;
  
    
}

.yellow{

    background-color: yellow;
    height: 250px;
    opacity: 0.5;

   
    
    
    
}




.blue{
    background-color: blue;
    opacity: 0.5;
  
}

.green{

    background-color: green;
    opacity: 0.5;
   
}




