*{

    background-color: cornflowerblue;

}


.rojo {

    background-color: red;
    height: 250px;
    
}

.amarillo{
    background-color: yellow;
    height: 250px;
    
    
}

.azul{
    background-color: blue;
}

.verde{

    background-color: green;
}




body{

    background-color: cornflowerblue !important;
    
}