*{

    background-color: cornflowerblue;

}

body{

    background-color: cornflowerblue !important;
    
}


.red{

    background-color: red;
    height: 250px;
    /* animation: fade 2s ; */
    opacity: 0.6;
    
}

.yellow{
    background-color: yellow;
    height: 250px;

    opacity: 0.6;

    /* animation: fade 2s ; */
    
    
    
    
}




.blue{
    background-color: blue;
   /*  animation: fade 2s ; */
    opacity: 0.6;
}

.green{

    background-color: green;
    /* animation: fade 2s ; */
    opacity: 0.6;
}

.addFade{

    animation: fade 2s

}

@keyframes fade {

    from {opacity: 0.3;}
    to {opacity: 1;}

}



